<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{idea.name}}</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     
                            {% if messages %}                           
                            {% for message in messages %}            
                            <p>{{message}}</p>                   
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
    <form action = "/editidea/{{idea.id}}" class = "create-form" method = "POST">
        <input type="text" name = "name" placeholder = "Idea" value = "{{idea.name}}">
        <input type="text" name = "songs" placeholder = "Songs" value = "{{idea.songs}}">
        <input type="text" name = "costume" placeholder = "Costumes" value = "{{idea.costume}}">
        <input type="text" name = "choreographers" placeholder = "Choreographers" value = "{{idea.choreographers}}">
        <input class = "createidea-btn" type="submit" value = "Save" >
       
    </form>
    <a href = "/delete/{{idea.id}}">Delete</a>
</body>
</html>