<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6342488ad8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <!----HEADER START-->
    <div class = "header">
        <div class = "header-left">
            <div class = "dancebook">
                <a href = "/home" class = "home-icon"><h1>dancebook</h1></a>
                <h3><span class = "time"></span>  <span class = "date"></span></h3>
            </div>
            <div class = "search">
                <form>
                    <i class="fas fa-search"></i>
                    <input type = text placeholder="Search"/>
                    
                </form>    
            </div>
                
                
            
        </div> 
        
        <div class = "header-middle">
            <div class = "header-options active">
                <a href = "/home"><i class="fas fa-home header-icon"></i></a>
            </div>

            <div class = "header-options">
                <a href = ""><i class="fas fa-fire header-icon" ></i></a>
            </div>

            <div class = "header-options">
                <a href = "/home/alphabetic"><i class="fas fa-sort-alpha-down header-icon"></i></a>
            </div>

            <div class = "header-options">
                <i class="fas fa-sort-amount-up-alt header-icon" ></i>
            </div>

            <div class = "header-options" >
                <i class="fas fa-sort-amount-down-alt header-icon"></i>
            </div>
            
            
        </div>
        <div class = "header-right">
            <div class="dropdown">
                <button class="dropbtn name"><h3>Hello {{user.first_name}}</h3></button>
                <div class="dropdown-content">
                  <a href="/editprofile/{{user.id}}"><h3>Profile</h3></a>
                  <a href="/logout"><h3>Logout</h3></a>
                </div>
              </div>
        </div>
    </div>

<!----HEADER END-->

<!--BODY START-->
<div class = "main-body">
    <!---SIDEBAR STARTS-->
    <div class = "sidebar">
        <div class = "sidebar-row">
            <i class="fas fa-inbox"></i>
            <h4><a href = "">All Messages</a></h4>
        </div>

        <div class = "sidebar-row">
            <i class="fas fa-envelope"></i>
            <h4><a href = "">Send Message</a></h4>
        </div>


        <div class = "sidebar-row">
            <i class="fas fa-lightbulb" style = "font-size: 46px;"></i>
            <h4><a href = "">All Ideas</a></h4>
        </div>
        
        <div class = "sidebar-row">
            <i class="fas fa-head-side-mask"></i>
            <h4><a href = "">Covid Updates</a></h4>
        </div>
    </div>
    <!---SIDEBAR ENDS-->

    <!---IDEAS START-->
    <div class= "middle">
        <!--TOP IDEAS START-->
        <div class = "top-ideas">
            
                <div class = "story" style = "background-image: url('/static/imgs/damn.png');">
                    
                    
                </div>

                <div class = "story" style = "background-image: url('/static/imgs/damn.png');">
                    
                    
                </div>

                <div class = "story" style = "background-image: url('/static/imgs/damn.png');">
                    
                    
                </div>

                <div class = "story" style = "background-image: url('/static/imgs/damn.png');">
                    
                    
                </div>

                <div class = "story" style = "background-image: url('/static/imgs/damn.png');">
                    
                    
                </div>

                <div class = "story" style = "background-image: url('/static/imgs/damn.png');">
                    
                    
                </div>
            
        </div>
        <!--TOP IDEAS ENDS-->
        <!--CREATE IDEAS START-->
        <div class = "createidea">
            <div class = "idea-top">
                <h1>Create Your Idea</h1>
                <form action = "/createidea" class = "create-form" method = "POST">
                    <input type="text" name = "name" placeholder = "Idea">
                    <input type="text" name = "songs" placeholder = "Songs">
                    <input type="text" name = "costume" placeholder = "Costumes">
                    <input type="text" name = "choreographers" placeholder = "Choreographers">
                    
                    <input class = "createidea-btn" type="submit" value = "Add Idea">
                </form>
            </div>
            
        </div>
        <!--CREATE IDEAS ENDS-->
        <!--IDEAS POSTS START-->

        {% for one_idea in ideas %}
        <div class = "post">
            
            <div class ="post-top-info">
                <h3>{{one_idea.first_name}}</h3>
                <p>{{one_idea.created_at}}</p>
            </div>
            <div class = "post-bottom">
                <h3>Idea : {{one_idea.name}}</h3><p></p>
                <h3>Songs : {{one_idea.songs}}</h3><p></p>
                <h3>Costumes : {{one_idea.costume}}</h3><p></p>
                <h3>Choreographers : {{one_idea.choreographers}}</h3><p></p>
                
                
                
            </div>
            <div class = "details">
                <h3>likes : {{get_all_likes(one_idea.id)}}</h3>
                <h3>{number of comments}</h3>
            </div>
            

            <div class = "post-options">
                <div class = "post-option">
                    <div class = "likes">
                        <form action = "/like/{{one_idea.id}}" method ="POST"> 
                            <i class="far fa-thumbs-up"></i>
                            <input type = "submit" value = "Like">
                         </form>
                
                    </div>
                </div>
                <div class = "post-option"> 
                    <form class = "comment-form" action = "/comment/{{one_idea.id}}" method = "POST">
                        <i class="fas fa-comment"></i>
                        <input type = "text" name = "content" class = "comment"  placeholder = "Comment..." />
                        <input class ="comment" type = "submit" value = "Add Comment"/>
                    </form>
                </div>
            </div>

            

            
            <div class = "comments-bottom">
                <h1>Comments : </h1>
                <div class = "comments">
                    {% for comment in get_all_comments(one_idea.id)%}
                        <p>{{comment.first_name}} : {{comment.content}} {{comment.created_at}} </p>
                        {% if comment.first_name | length == 0 %}
                            <h3>No comments</h3>
                        {%endif%}
                        
                    {% endfor %}
                </div>
                        
                
            </div>
            
        </div>
            
        {% endfor %}
        <h1>HELLO</h1>
        
        
    
        </div>
    <!---IDEAS ENDS-->
    <div class = "spotify">
        <iframe src="https://open.spotify.com/embed/playlist/6GF7VWPvJqBzzO6mEoTpzQ?utm_source=generator&theme=0" width="100%" height="1000" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
    
</div>




    <!-- <div id = "main_body_container">
        
        


        <div id = "sidebar-middle">
            
            <h1><a href = "/create/idea">Ideas</a></h1>
            {% for one_idea in ideas %}
                <a href = "/show/{{one_idea.id}}"><h2>{{one_idea.name}}</h2></a>
                <p>posted by {{one_idea.first_name}}</p>
                <p>{{one_idea.created_at}}</p>
                {% endfor %}
                
        </div>


        <div id = "sidebar-right">
            
            <h1>{friends}</h1>
            <h1>{friends}</h1>
            <h1>{friends}</h1>
           
                
        </div>
    </div> -->

    <script src = "{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>