<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hom.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <!--MAIN CSS-->
    <script src="https://kit.fontawesome.com/6342488ad8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!---BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{user.first_name}}'s Profile</title>
</head>
<body class = "position-relative">
    
    
    <!----HEADER START-->

    <div class = "bg-white d-flex align-items-center fixed-top shadow" style = "min-height: 56px; z-index: 5;" >
        <div class = "container-fluid">
            <!----NAVBAR-->
            <div class = "row align-items-center">
                <div class="col d-flex align-items-center">
                    <div>
                        <a href = "/home" class = "text-primary text-decoration-none" style = "font-size: 2rem;">dancebook</a>
                        <h6><span class = "time"></span>  <span class = "date"></span></h6>
                    </div>
                    
                </div>
                <!----MIDDLE-->
               
                <!---MENUS-->
                <div class="col d-flex align-items-center justify-content-end">
                    <!---NAME-->
                    <div class = "d-none d-xl-flex align-items-center justify-content-center">
                        <p class ="m-0">Hello {{user.first_name}}</p>
                    </div>
                    <div class = "d-flex align-items-center justify-content-center p-1 mx-2 bg-light rounded-circle" style = "width: 38px; height: 38px; object-fit: cover;" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false" type = "button">
                        <i class = "fas fa-ellipsis-h"></i>
                    </div>
                    <!---DROPDOWN-->
                        <ul class="dropdown-menu border-0 shadow p-3 overflow-auto" aria-labelledby="dropDownMenu" style= "width :23rem; max-height: 600px;">
                          <li><a class="dropdown-item" href="/profile/{{user.id}}">Profile</a></li>
                          <div class = "d-lg-none">
                            <li><a class="dropdown-item" href="/myideas">My Ideas</a></li>
                            <li><a class="dropdown-item" href="/friends/{{user.id}}">Friends</a></li>
                            <li><a class="dropdown-item" href="/inbox/{{user.id}}">Inbox</a></li>
                            <li><a class="dropdown-item" href="/users">All Users</a></li>
                          </div>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                </div>
            </div>
        </div> 
    </div>

    <div class = "container-fluid">
        <div class="row justify-content-evenly">
            <!---SIDEBAR-->
            <div class="col-12 col-lg-3">
                <div class="d-none d-xxl-block h-100 fixed-top overflow-hidden" style = "max-width: 300px; width: 100%; z-index:4;">
                    <ul class ="navbar-nav mt-4 ms-3 d-flex flex-column pb-5 mb-5" style="padding-top: 56px;">
                        <!---TOP-->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/profile/{{user.id}}" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <div>
                                    <p class= "m-0">{{user.first_name}} {{user.last_name}}</p>
                                </div>
                            </a>
                        </li>
                        <!------->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/myideas" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-lightbulb"></i>
                                </div>
                                <div>
                                    <p class= "m-0">My Ideas</p>
                                </div>
                            </a>
                        </li>
                        <!---->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/friends/{{user.id}}" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-user-friends"></i>
                                </div>
                                <div>
                                    <p class= "m-0">Friends</p>
                                </div>
                            </a>
                        </li>
                        <!------->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/inbox/{{user.id}}" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-inbox"></i>
                                </div>
                                <div>
                                    <p class= "m-0">Inbox</p>
                                    <i class="fas fa-circle text-primary" style= "font-size: 0.5rem;"></i>
                                    <span class="fs-7 text-primary">{{get_all_messages(user.id)}} messages</span>
                                </div>
                            </a>
                        </li>
                        <!------->
                        <!------->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/users" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-user-friends"></i>
                                </div>
                                <div>
                                    <p class= "m-0">All Users</p>
                                </div>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <!---MIDDLE-->
            <div class="col-12 col-lg-6 pb-5">
                <div class="d-flex flex-column justify-content-center w-100 mx-auto" style= "padding-top: 56px; max-width: 680px;">
                    

                    
                    
                    
                    <!------POST IDEAS-->
                    
                    <div class = "bg-white p-4 rounded shadow mt-5">
                        <!---AUTHOR-->
                        <div class="d-flex justify-content-between">
                            <!---ICON-->
                            <div class = "d-flex">
                                <i class="fas fa-user-circle rounded-circle" style = "width : 38px; height:38px; object-fit: cover; "></i>
                                <div>
                                    <h4>{{user.first_name}} {{user.last_name}}</h4>
                                    <p class = "m-0 mt-3 fw-bold">{{user.email}}</p>
                                    <span class = "text-muted fs-7">Email</span>
                                   
                                    <p class = "m-0 mt-3 fw-bold">{{user.pronoun}}</p>
                                    <span class = "text-muted fs-7">Pronouns</span>
                                    <p class = "m-0 mt-3 fw-bold">{{user.description_bio}}</p>
                                    <span class = "text-muted fs-7">Description</span>
                                    <p class = "m-0 mt-3 fw-bold">{{user.city}}</p>
                                    <span class = "text-muted fs-7">City</span>
                                    <p class = "m-0 mt-3 fw-bold">{{user.social}}</p>
                                    <span class = "text-muted fs-7">Social Media</span>
                                    {% if user.pronoun == none and user.description_bio == none and user.city == none and user.social == none%}
                                    <div class = "d-flex mt-3">
                                        <p>No bio? <a href = "" class = "text-decoration-none" data-bs-toggle="modal" data-bs-target="#addBio">Click here</a> to add one</p>
                                    </div>
                                    {% endif %}
                                    <div class = "d-flex flex-column align-items-center justify-content-center mt-5 ms-4 text-center text-danger">
                                        {% with messages = get_flashed_messages() %}     
                                        {% if messages %}                           
                                        {% for message in messages %}            
                                        <p>{{message}}</p>                  
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                            </div>
                                </div>
                                
                            </div>
                            <!----EDITICON-->
                            <div>
                                <i class="fas fa-ellipsis-h" type = "button" data-bs-toggle="dropdown" aria-expanded="false" id = "post1Menu"></i>
                            
                            <!----EDITMENU-->
                                <ul class="dropdown-menu border-0 shadow" aria-labelled="post1Menu">
                                
                                    <li class = "d-flex align-items-center">
                                        <a href = "" class = "dropdown-item d-flex align-items-center justify-content-around fs-7" data-bs-toggle="modal" data-bs-target="#editProfile">
                                            Edit Profile
                                        </a>
                                    </li>
                                    {% if user.pronoun != none or user.description_bio != none or user.city != none or user.social != none%}
                                    <li class = "d-flex align-items-center">
                                        <a href = "" class = "dropdown-item d-flex align-items-center justify-content-around fs-7" data-bs-toggle="modal" data-bs-target="#editBio">
                                            Edit Bio
                                        </a>
                                    </li>
                                    {%endif%}
                                </ul>
                            </div>
                            
                        </div>
                        <!----CONTENT-->
                        <!-- Button trigger modal -->
                        
                        
                        <!-- Modal EDIT PROFILE -->
                        <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfile" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!---HEADER MODAL-->
                                <h5 class="modal-title" id="editProfile">Edit Profile</h5>
                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                
                                    <form action = "/editprofile/{{user.id}}" method = "POST">
                                        <div class="row">
                                            <div class="col">
                                                <input class = "form-control" type="text" name = "first_name" placeholder="First Name" value = "{{user.first_name}}">
                                            </div>
                                            <div class="col">
                                                <input class = "form-control" type="text" name = "last_name" placeholder="Last Name" value = "{{user.last_name}}">
                                            </div>
                                        </div>
                                        <input class = "form-control my-3" type="text" name = "email" placeholder="Email" value = "{{user.email}}">
                                        <!--MODAL FOOTER-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input class = "btn btn-primary" type= "submit" value = "Update">
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            </div>
                        </div>
                        <!-- Modal ADD BIO -->
                        <div class="modal fade" id="addBio" tabindex="-1" aria-labelledby="addBio" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!---HEADER MODAL-->
                                <h5 class="modal-title" id="addBio">Add Bio</h5>
                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action = "/addbio/{{user.id}}" method = "POST">
                                            <div class="col">
                                                <input class = "form-control" type="text" name = "pronoun" placeholder="Pronouns">
                                            </div>
                                            <div class="col mt-3">
                                                <input class = "form-control" type="text" name = "description_bio" placeholder="Description">
                                            </div>
                                            <div class="col mt-3">
                                                <input class = "form-control" type="text" name = "city" placeholder="City">
                                            </div>
                                            <div class="col mt-3">
                                                <input class = "form-control" type="text" name = "social" placeholder="Social Media">
                                            </div>
                                        
                                        <!--MODAL FOOTER-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input class = "btn btn-primary" type= "submit" value = "Add">
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            </div>
                        </div>
                        <!-- Modal EDIT BIO -->
                        <div class="modal fade" id="editBio" tabindex="-1" aria-labelledby="editBio" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!---HEADER MODAL-->
                                <h5 class="modal-title" id="editBio">Edit Bio</h5>
                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action = "/editbio/{{user.id}}" method = "POST">
                                        
                                            <div class="col">
                                                <h6>Pronouns</h6>
                                                <input class = "form-control" type="text" name = "pronoun" placeholder="Pronouns" value = "{{user.pronoun}}">
                                            </div>
                                            <div class="col mt-3">
                                                <h6>Description</h6>
                                                <input class = "form-control" type="text" name = "description_bio" placeholder="Description" value = "{{user.description_bio}}">
                                            </div>
                                            <div class="col mt-3">
                                                <h6>City</h6>
                                                <input class = "form-control" type="text" name = "city" placeholder="City" value = "{{user.city}}">
                                            </div>
                                            <div class="col mt-3">
                                                <h6>Social Media</h6>
                                                <input class = "form-control" type="text" name = "social" placeholder="Social Media" value = "{{user.social}}">
                                            </div>
                                        
                                        <!--MODAL FOOTER-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input class = "btn btn-primary" type= "submit" value = "Update">
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!---RIGHTBAR-->
            <div class="col-12 col-lg-3">
                
            </div>

    </div>






    <!----BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src = "{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>