<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!---FONTAWESOME-->
    <script src="https://kit.fontawesome.com/6342488ad8.js" crossorigin="anonymous"></script>
    <!---BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class = "bg-white d-flex align-items-center fixed-top shadow" style = "min-height: 56px; z-index: 5;" >
        <div class = "container-fluid">
            <!----NAVBAR-->
            <div class = "row align-items-center">
                <div class="col d-flex align-items-center">
                    <div>
                        <a href = "/home" class = "text-primary text-decoration-none" style = "font-size: 2rem;">dancebook</a>
                        <h6><span class = "time"></span>  <span class = "date"></span></h6>
                    </div>
                </div>
                
                <!---MENUS-->
                <div class="col d-flex align-items-center justify-content-end">
                    <!---NAME-->
                    <div class = "d-none d-xl-flex align-items-center justify-content-center">
                        <p class ="m-0">Hello {{user.first_name}}</p>
                    </div>
                    <div class = "d-flex align-items-center justify-content-center p-1 mx-2 bg-light rounded-circle" style = "width: 38px; height: 38px; object-fit: cover;" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false" type = "button">
                        <i class = "fas fa-ellipsis-h"></i>
                    </div>
                    <!---DROPDOWN-->
                        <ul class="dropdown-menu border-0 shadow p-3 overflow-auto" aria-labelledby="dropDownMenu" style= "width :23rem; max-height: 600px;">
                          <li><a class="dropdown-item" href="/profile/{{user.id}}">Profile</a></li>
                          <li><a class="dropdown-item" href="/editprofile/{{user.id}}">Edit Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                </div>
            </div>
        </div> 
    </div>

    <div class = "container-fluid">
        <div class="row justify-content-evenly">
            <!---SIDEBAR-->
            <div class="col-12 col-lg-3">
                <div class="d-none d-xxl-block h-100 fixed-top overflow-hidden" style = "max-width: 300px; width: 100%; z-index:4;">
                    <ul class ="navbar-nav mt-4 ms-3 d-flex flex-column pb-5 mb-5" style="padding-top: 56px;">
                        <!---TOP-->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/profile/{{user.id}}" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <div>
                                    <p class= "m-0">{{user.first_name}} {{user.last_name}}</p>
                                </div>
                            </a>
                        </li>
                        <!------->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/myideas" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-lightbulb"></i>
                                </div>
                                <div>
                                    <p class= "m-0">My Ideas</p>
                                </div>
                            </a>
                        </li>
                        <!---->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/friends/{{user.id}}" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-user-friends"></i>
                                </div>
                                <div>
                                    <p class= "m-0">Friends</p>
                                </div>
                            </a>
                        </li>
                        <!------->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/inbox/{{user.id}}" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-inbox"></i>
                                </div>
                                <div>
                                    <p class= "m-0">Inbox</p>
                                    <i class="fas fa-circle text-primary" style= "font-size: 0.5rem;"></i>
                                    <span class="fs-7 text-primary">{number of new messages}</span>
                                </div>
                            </a>
                        </li>
                        <!------->
                        <li class="dropdown-item p-1 rounded">
                            <a href="/users" class="text-decoration-none text-dark d-flex align-items-center">
                                <div class = "p-2">
                                    <i class="fas fa-user-friends"></i>
                                </div>
                                <div>
                                    <p class= "m-0">All Users</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!---MIDDLE-->
            <div class="col-12 col-lg-6 pb-5">
                <div class="d-flex flex-column justify-content-center w-100 mx-auto" style= "padding-top: 56px; max-width: 680px;">
                    
                    <!---CREATE IDEA-->
                    <div class = "bg-white p-3 mt-3 rounded border shadow">
                        <h4>Send Message to {{one_user_send.first_name}} {{one_user_send.last_name}}</h4>
                    </div>
                    <div class = "container-fluid mt-4">
                        <form id = "send_message_form" action = "/sendmessage/{{one_user_send.id}}" method = "POST">
                            
                            <div class="form-floating">
                                <input type = "text" name = "content" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></input>
                                <label for="floatingTextarea2">Message</label>
                                
                          </div>
                            <div class =" d-flex justify-content-end">
                                <input type="submit" class="btn btn-primary mt-3" value = "Send"></input>
                            </div>
                          </form>
                          
                    </div>

                    
                    
                 
                </div>
            </div>

            <!---RIGHTBAR-->
            <div class="col-12 col-lg-3">
                <div class="d-none d-xxl-block h-100 fixed-top end-0 overflow-hidden scrollbar" style= "max-width :360px; width : 100%; z-index:4; padding-top :56px; left: initial !important;">
                    <div class = "p-3 mt-3">
                        
                    </div>
                    
                    <div lass = "d-flex align-items-center justify-content-between my-3">
                        <p class = "tex-muted fs-5 m-0">Friends</p>
                    </div>
                    <hr class ="mt-0">
                    <div>
                        {%for friend in friends%}
                            
                                    <div class = "d-flex justify-content-between">
                                        <div class = "d-flex justify-content-between">
                                            <a href = "/profile/{{friend.friend_id}}" class = "text-decoration-none"><p>{{friend.first_name}} {{friend.last_name}} </a><a href = "/sendmessage/{{friend.friend_id}}"><button class = "btn btn-primary ms-3">Send Message</button></p></a> 
        
                                            
                                        </div>
                                        
                                    </div>
                               
                        {%endfor%}
                    </div>
            </div>
        </div>

    </div>
     <!----BOOTSTRAP-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     <script src = "{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>