* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu Mono;
}
.dancebook {
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
.home-icon {
    background-color: red;
    text-decoration: none;
    color: white;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.5);
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
}
.header-options {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.header-middle {
    display: flex;
    flex: 1;
    justify-content: center;
}
.header-options .header-icon {
    font-size: xx-large;
    color: grey;
}

.header-options:hover .header-icon {
    color: red;
}

.header-options.active .header-icon {
    color: red;
}
.main_body_container {
    display: flex;
    justify-content: space-between;
}

.header-options.active {
    border-bottom: 4px solid red;
}

.header-options:hover {
    background-color: lightgrey;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header-right {
    margin: 0px 0px 0px 300px;
}

/* Dropdown Button */
.dropbtn {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: auto;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
    text-align: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
    cursor: pointer;
}
.name {
    color: black;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.icon {
    margin: 50px;
    padding: 10px;
    border: 3px solid black;
}

/*MAIN BODY STYLING */
.sidebar-row {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebar-row:hover {
    background-color: lightgrey;
    border-radius: 10px;
}

.sidebar-row h4 {
    margin-left: 20px;
    font-weight: 600px;
}

.sidebar-row i {
    font-size: xx-large;
    color: red;
}

/*STORY STYLING*/
.story {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-sizing: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}
.storyicon {
    margin: 10px;
}

.story:hover {
    transform: scale(1.07);
}

.story h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.top-ideas {
    padding: 10px 0;
    display: flex;
}

.main-body {
    display: flex;
}

body {
    background-color: whitesmoke;
}

.middle {
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    padding: 25px 10px;
    flex: 0.33;
}

/*CREATE IDEA STYLING*/

.createidea {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.idea-top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 15px;
    text-align: center;
}

.idea-top form {
    flex: 1;
    display: flex;
}

.idea-top form input {
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: lightgrey;
}

.createidea-btn {
    background: red;
    color: white;
    cursor: pointer;
}

/*POSTS STYLING*/
.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post-image img {
    width: 100%;
}

.post-top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post-top-info h3 {
    padding: 15px 25px 0px;
    font-size: x-large;
}

.post-top-info p {
    padding: 4px 25px;
    font-size: small;
    color: grey;
}

.post-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
    border-bottom: 1px solid lightgrey;
}

.post-options {
    padding-top: 10px;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: grey;
    cursor: pointer;
    padding: 15px;
}

.spotify iframe {
    position: sticky;
    top: 0;
}

.likes {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .header input {
        display: none;
    }

    .header-middle {
        display: none;
    }

    .spotify iframe {
        display: none;
    }

    .header-right {
        margin: 0px;
    }

    .middle {
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }

    .create-form input {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .top-ideas {
        width: 100%;
        overflow-x: scroll;
    }

    .create-form input {
        display: none;
    }
}

@media (max-width: 1440px) {
    .middle {
        width: 50%;
        padding: 10px 50px;
    }

    .create-form input {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .header-right {
        display: none;
    }
    .middle {
        width: 100%;
    }

    .create-form input {
        width: 100%;
    }
}

/*MODAL CONTAINER*/

/* .comment-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.comment-modal-container.show {
    opacity: 1;
    pointer-events: auto;
} */

.details {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.comments-bottom {
    border-top: 1px solid lightgrey;
    padding: 20px;
}

.comments {
    padding: 15px;
}
